{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/blogg.css' %}">
        <style>
          .is-100vh {
            display: flex;
            flex-direction: column;
            min-height:100vh;
          }

          footer.footer {
            padding-bottom: 3rem;
          }
        </style>

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class='is-100vh'>
        {% wagtailuserbar %}

        <nav class='navbar is-black'>
          <div class='navbar-brand'>
            <a href='/' class='navbar-item'>
              <span class='icon'>
                <i class='fas fa-home'></i>
              </span>
              <span>&nbsp;BLOGG</span>
            </a>
          </div>
        </nav>

        <div class='container is-fullhd'>
          {% block content %}{% endblock %}
        </div>

        <footer class="footer">
          <div class="content has-text-centered">
            <p>© 2021</p>
          </div>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/blogg.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
