.is-100vh {
  display: flex;
  flex-direction: column;
  min-height:100vh;
}

h1.title.is-1 a {
  text-decoration: none;
  color: inherit;
}

h1 a:hover {
  text-decoration: underline;
}

.tag a {
  text-decoration: none;
  color: inherit;
}

footer.footer {
  padding-bottom: 3rem;
}

div.box {
  box-shadow: none;
}

.blog-details {
  min-width: 50vw;
}
